.banner {
  background-image: url('../../../assets/banner-07.jpeg');
  height: 800px;
  background-position: center top;
  background-size: cover;
}

.banner h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  top: 45%;
  left: 20%;
  position: absolute;
}


.banner p {
  color: white;
  font-size: 30px;
  top: 65%;
  left: 20%;
  position: absolute;
}

.banner button {
  color: white;
  top: 88%;
  left: 20%;
  position: absolute;
  width: 140px;
  height: 60px;
  font-size: 20px;
}
