<div class="banner">
  <div class="content">
    <h1>Cheeseburger</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nobis quisquam et, aliquid blanditiis non. Asperiores ratione perspiciatis eaque odio laborum voluptatibus, soluta magni, unde quisquam quos culpa cum adipisci.</p>
    <button routerLink="menu" class="btn btn-primary">Fazer Pedido</button>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h1 class="text-center">Como Obter Uma <span>Comida</span> Fresca</h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="box">
        <h1>1</h1>
        <p>Selecione Tipo</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box">
        <h1>2</h1>
        <p>Preencher os Detalhes</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box">
        <h1>3</h1>
        <p>Entregar do Pedido em Minutos</p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-lg-3" *ngFor="let fd of foodData">
      <div class="foodbox">
        <img src="{{fd.foodImg}}">
        <h1>{{fd.foodName}}</h1>
        <p>{{fd.foodPrice}}</p>
      </div>
    </div>
  </div>
</div>
