.banner {
  background-image: url('../../../assets/banner-07.jpeg');
  height: 800px;
  background-position: center top;
  background-size: cover;
}

.banner h1 {
  color: white;
  font-size: 75px;
  font-weight: bolder;
  top: 35%;
  left: 20%;
  position: absolute;
}


.banner p {
  color: white;
  font-size: 30px;
  top: 55%;
  left: 20%;
  position: absolute;
}

.banner button {
  color: white;
  top: 78%;
  left: 20%;
  position: absolute;
  width: 180px;
  height: 60px;
  font-size: 20px;
}


/*.content {
  top: 18%;
  left: 20%;
  position: absolute;
}

.content h1 {
  color: white;
}*/

.content a {
  text-decoration: none;
  background-color: white;
  color: blueviolet;
  padding: 16px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.content .btn:hover {
  background-color: white;
  color: blue;
}
